<footer class="footer">
		<div class="container">
				<div class="row">
						<div class="col-sm-5 col-lg-5">
								<a class="social-links" href="https://github.com/boltdb/bolt" target="_blank">
										<i class="social-icons fa fa-github" aria-hidden="true"></i>
								</a>
								<a class="social-icon" href="https://jq.qq.com/?_wv=1027&k=5whK4gE" target="_blank">
										<i class="social-icons fa fa-qq" aria-hidden="true"></i>
								</a>
								<p>遵循<a href="https://opensource.org/licenses/MIT" target="_blank">MIT 开源协议</a><br>Copyright © 2018 u35s</p>
						</div>
						<div class="col-sm-7 col-lg-7 right">
								<div class="row">
										<div class="col-sm-3">
												<p>关于</p>
												<ul class="list-unstyled">
														<li><a href="/about.html">关于我们</a></li>
														<li><a href="#">友情链接</a></li>
												</ul>
										</div>
										<div class="col-sm-3">
												<p>联系方式</p>
												<ul class="list-unstyled">
														<li><a href="mailto:admin@mail.boltdb.cn">电子邮件</a></li>
														<li><a href="https://jq.qq.com/?_wv=1027&k=5whK4gE" target="_blank">QQ群:687423439</a></li>
												</ul>
										</div>
										<div class="col-sm-3">
												<p>旗下网站</p>
												<ul class="list-unstyled">
														<li><a href="#">计算机网络</a></li>
												</ul>
										</div>
										<div class="col-sm-3">
												<p>赞助商</p>
												<ul class="list-unstyled">
														<li><a href="#">欢迎赞助</a></li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
		</div>
</footer>

