<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9fbe6127772dc8dd4c04ce3d43d4d84a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ site.author }}">
  <!--<link rel="icon" href="./favicon.ico">-->

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ "./assets/css/ie10-viewport-bug-workaround.css" | relative_url }}" rel="stylesheet">

  <!--<link rel="stylesheet" href="{{ "./assets/google-code-prettify/prettify.css" | relative_url }}">-->
  <link rel="stylesheet" href="{{ "./assets/highlight/styles/default.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

  <!-- Custom styles for this template -->
  <link href="{{ "./assets/css/jumbotron.css" | relative_url }}" rel="stylesheet">

  <script src="{{ "./assets/js/ie-emulation-modes-warning.js" | relative_url }}"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
