---
layout: default
---

<div class="jumbotron masthead">
		<div class="container">
				<h1>{{ page.project }}</h1>
				<h2>{{ page.tagline }}</h2>
				<p>{{ page.content }}</p>
				<br><br>
				<p>
				<a class="btn btn-success btn-lg" href="./quickstart.html" role="button">快速开始</a>
				</p>
		</div>
</div>

<div class="feature">
		<div class="container">
				<div class="row">
						<div class="col-md-4">
								<h2>简单</h2>
								<p>API很少</p>
								<p>代码不超过3k</p>
						</div>
						<div class="col-md-4">
								<h2>高效</h2>
								<p>写时拷贝,无log</p>
								<p>读取和恢复速度快</p>
						</div>
						<div class="col-md-4">
								<h2>可靠</h2>
								<p>线程安全</p>
								<p>支持ACID事务</p>
						</div>
				</div>
		</div>
</div>
